<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>express-boilerplate</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    {{#unless hmr }}
    <link rel="stylesheet" href="{{{assets "css/app.css"}}}">
    {{/unless}}
  </head>
  <body>
    <div id="app">
      {{> header }}

      <div class="container">
        {{{block "highlight"}}}
        {{> messages }}
        {{{body}}}
      </div>

      {{> footer }}
    </div>

    <script src="{{{assets "js/manifest.js"}}}"></script>
    <script src="{{{assets "js/vendor.js"}}}"></script>
    <script src="{{{assets "js/app.js"}}}"></script>

    {{{block "scripts"}}}
  </body>
</html>
